.add-icon:after {
  margin-left: 0.3rem;
  margin-bottom: -0.1rem;
  width: 0.9rem;
  height: 0.9rem;
  display: inline-block;
  content: "";
  background-color: var(--gray3);
}

.icon-document:after {
  mask: url("/assets/icons/document.svg") no-repeat 50% 50%;
  -webkit-mask: url("/assets/icons/document.svg") no-repeat 50% 50%;

  mask-size: contain;
  -webkit-mask-size: contain;
}

.icon-google-scholar:after {
  mask: url("/assets/icons/google-scholar.svg") no-repeat 50% 50%;
  -webkit-mask: url("/assets/icons/google-scholar.svg") no-repeat 50% 50%;

  mask-size: contain;
  -webkit-mask-size: contain;
}

.icon-email:after {
  mask: url("/assets/icons/email.svg") no-repeat 50% 50%;
  -webkit-mask: url("/assets/icons/email.svg") no-repeat 50% 50%;

  mask-size: contain;
  -webkit-mask-size: contain;
}

.icon-arrow-top-right:after {
  mask: url("/assets/icons/arrow-top-right.svg") no-repeat 50% 50%;
  -webkit-mask: url("/assets/icons/arrow-top-right.svg") no-repeat 50% 50%;

  mask-size: contain;
  -webkit-mask-size: contain;
}

.icon-copy:after {
  mask: url("/assets/icons/copy.svg") no-repeat 50% 50%;
  -webkit-mask: url("/assets/icons/copy.svg") no-repeat 50% 50%;

  mask-size: contain;
  -webkit-mask-size: contain;
}

.icon-arrow-right:after {
  mask: url("/assets/icons/arrow-right.svg") no-repeat;
  -webkit-mask: url("/assets/icons/arrow-right.svg") no-repeat;
  mask-position: 100% 0%;
  -webkit-mask-position: 100% 0%;
  mask-size: contain;
  -webkit-mask-size: contain;
}