.sidebar-container {
  grid-column: 1/3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  height: 85.4vh;
  row-gap: 4rem;
  position: fixed;
  width: calc((100vw - 6rem) / 12 * 2 - 1.2rem)
}

.sidebar a span {
  font-size: 1rem;
  font-variation-settings: "wght" 500;
}

.navigation {
  margin-left: -1rem;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  grid-row-gap: 1em;
  top: 3rem;
  align-self: start;
  flex-grow: 1;
  max-width: 100%;
}

.navigation-item,
.sub-navigation {
  color: var(--gray3);
  padding: 0rem 1rem;
  max-width: 100%;
  padding-right: 0;
}

.navigation-item:hover,
.sub-navigation:hover {
  color: var(--accent);
}

.navigation .selected {
  color: var(--gray0);
  display: flex;

  align-items: center;
}

.navigation .selected:before {
  content: "";
  display: inline-block;
  width: 0.18rem;
  height: 140%;
  margin-left: -1rem;
  margin-right: calc(1rem - 0.16rem);
  background-color: var(--gray0);
}

.navigation .selected span {
  font-variation-settings: "wght" 600;
}

.sub-navigation {
  display: none;
  margin-left: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden; */
  font-variation-settings: "wght" 420;
}

/* .sub-navigation.selected:before {
  margin-left: -1.5rem;
} */

.sub-navigation span {
  font-size: 0.9rem !important;
  text-overflow: ellipsis;
  /* Both of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
}

.links {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  column-gap: 0.92rem;
  flex-shrink: 0;
  /* margin-right: -0.44rem; */
  row-gap: 0.4rem;
  grid-column: 6/11;
  margin-left: -0.4rem;
}

.links .link-item {
  display: flex;
  align-items: center;
  column-gap: 0.72rem;
  padding: 0.2rem 0.4rem;
  padding-left: 0;
  width: 100%;
  color: var(--gray1);
}

.link-item > * {
  flex-shrink: 0;
}

.links .link-item .add-icon:after {
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  justify-content: center;
  margin-top: -0.2rem;
  background-color: var(--gray2);
}

.links .link-item:hover > span {
  color: var(--accent);
}

.links .link-item:hover > .add-icon:after {
  background-color: var(--accent);
}

.links .external-link:after {
  display: none;
  margin-left: -0.4rem;
}
.links .external-link:hover:after {
  display: inline-block;
  margin-left: -0.4rem;
}

.email {
  position: relative;
}

.email .tooltip {
  background-color: var(--gray0);
  padding: 0.36rem 0.44rem 0.4rem;
  color: white;
  font-size: 0.8rem;
  font-variation-settings: "wght" 400;
  position: absolute;
  display: none;
  width: fit-content;
  top: 100%;
}

.email:hover .tooltip {
  display: block;
}

@media (max-width: 1280px) {
  .sidebar-container {
    grid-column: 1/4;
  }

  .sidebar {  
    width: calc((100vw - 6rem) / 12 * 3 - 1.2rem)
  }
}

@media (max-width: 960px) {
  .sidebar-container {
    grid-column: 1/13;
  }
  .sidebar {
    flex-direction: column;
    position: inherit;
    row-gap: 2rem;
    height: inherit;
    padding: 2rem;
    width: 100%;
  }

  .links {
    flex-direction: row;
    justify-content: flex-start;
  }

  .link-item {
    flex-shrink: 0;
    width: inherit !important;
  }

  .navigation {
    flex-direction: row;
    border-bottom: 0.1rem solid var(--gray4);
    position: inherit;
    margin: 0;
    overflow-x: scroll;
    text-align: center;
    grid-column-gap: 0.4rem;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    column-gap: 1.6rem;
    order: 2;
    min-width: 100%;
  }

  .navigation::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }

  .navigation h6 {
    font-size: 1rem;
  }

  .navigation-item {
    padding: 0.7rem 0rem;
  }

  .navigation .selected {
    border-left: none;
    border-bottom: 0.2rem solid var(--gray0);
    margin-left: 0;
  }
  .navigation .selected:before {
    width: 0;
  }
  .sub-navigation {
    display: none;
  }
}
@media (max-width: 960px) {
  .sidebar {
    padding: 0rem;
  }

  .sub-navigation {
    display: none !important;
  }

  .selected-parent {
    border-left: none;
    border-bottom: 0.2rem solid var(--gray0);
    margin-left: 0;
    color: var(--gray0)
  }

  .navigation .selected::before {
    display: none;
  }
}
@media (max-width: 840px) {
  .sidebar {
    padding: 0rem;
  }

  .navigation {
    border-bottom: 0;
    padding: 0.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.2rem;
    background-color: white;
    border-radius: 0.6rem;
  }

  .navigation .selected, .selected-parent {
    border-bottom: none;
    justify-content: center;
    background-color: var(--gray4);
    border-radius: 0.4rem;
  }
}


@media (max-width: 640px) {
  .sidebar {
    padding: 1.6rem;
  }

  .navigation {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.2rem;
    background-color: #f5f5f5;
    border-radius: 0.6rem;
    column-gap: 0.2rem;
  }

  .links .link-item {
    column-gap: 0.4rem;
  }

  .navigation a span {
    font-size: 0.9rem;
  }

  .navigation .selected {
    border-bottom: none;
    justify-content: center;
    background-color: var(--gray4);
    border-radius: 0.4rem;
  }
}
